.cassettebox-footer {
    width: 100%;
    min-height: 120px;
    background-color: #AA98BB;
    margin-top: auto;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
