.cassettebox-header{
    background-color: #DDD7E4;
    width: 100%;
    min-height: 64px;
    display: flex;
    align-items: center;   
    justify-content: flex-end;   
    color: #524438; 
    padding: 0 var(--gap);
}

.cassettebox-header button {
    margin-top: 0;
    background-color: #AA98BB;
    width: 180px;
    height: 48px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    padding: 0;
}

.cassettebox-header button:hover {
    color: #AA98BB;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}
